<div id="main_talent_profile_div">
    <div id="talent_profile_div_left">
        <h3 id="item_name">Mazarati</h3>
        <img id="item_image" src="https://www.maserati.com/mediaObject/sites/international/Brand/Alfieri/2016-05-24/Alfieri-9/resolutions/res-l1600x10000/Alfieri-9.jpg">
        <div id="item_description">
            <div id="item_description_head">
                <div id="item_head_image_div"><img id="item_head_image"></div>
                <h5 id="item_head_user"><span id="head_username_span">Anthony Thomas<span> <span id="head_date_span">–– 3 days ago</span></h5>
            </div>
            <div class="ui inverted divider"></div>
            <p style="line-height: 2em">Total amount of monthly payments is $32,724. Option to buy at lease end at pre-negotiated price. Dealer’s actual terms may vary. Offer through approved third party lessor and not Maserati North America, Inc. Residency restrictions apply. Must take retail delivery by January 31, 2019. $300 disposition fee due at lease end. See your participating local authorized Maserati Dealer for details.</p>
        </div>
    </div>
    <div id="talent_profile_div_right">
        <!--<h2 id="item_price">$120,000</h2>-->
        <h2 id="item_price">$120,000</h2>
        <button id="contact_dealer" class="ui twitter button">Contact Owner</button><br>
        <button id="add_favorite">Add to Favorites</button>
        <table id="product_faq_table">
            <tr class="product_faq_table_row">
                <td class="product_faq_table-column">Condition</td>
                <td class="product_faq_table-column">Excellent</td>
            </tr>
            <tr class="product_faq_table_row">
                <td class="product_faq_table-column">Cylinders</td>
                <td class="product_faq_table-column">8 Cyclinders</td>
            </tr>
            <tr class="product_faq_table_row">
                <td class="product_faq_table-column">Drive</td>
                <td class="product_faq_table-column">Rwd </td>
            </tr>
            <tr class="product_faq_table_row">
                <td class="product_faq_table-column">Fuel</td>
                <td class="product_faq_table-column">Gas</td>
            </tr>
            <tr class="product_faq_table_row">
                <td class="product_faq_table-column">Odometer</td>
                <td class="product_faq_table-column">36,500</td>
            </tr>
            <tr class="product_faq_table_row">
                <td class="product_faq_table-column">Paint</td>
                <td class="product_faq_table-column">Silver</td>
            </tr>
            <tr class="product_faq_table_row">
                <td class="product_faq_table-column">Color</td>
                <td class="product_faq_table-column">Grey</td>
            </tr>
            <tr class="product_faq_table_row">
                <td class="product_faq_table-column">Transmission</td>
                <td class="product_faq_table-column">Gear</td>
            </tr>
            <tr class="product_faq_table_row">
                <td class="product_faq_table-column">Type</td>
                <td class="product_faq_table-column">Coupe</td>
            </tr>
        </table>
        <div id="location_map">
            <iframe id="map_iframe" src="https://www.bing.com/maps/embed?h=250&w=250&cp=53.107871999999986~-2.487155000000001&lvl=14&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
            </iframe>
            <div id="marker_style">
                <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=53.107871999999986~-2.487155000000001&amp;sty=r&amp;lvl=14&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
                <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=53.107871999999986~-2.487155000000001&amp;sty=r&amp;lvl=14&amp;rtp=~pos.53.107871999999986_-2.487155000000001____&amp;FORM=MBEDLD">Get Directions</a>
            </div>
        </div>
    </div>
</div>