<div id="navigation_drawer">
    <div id="outside_child_drawer">
        <div id="top_child_drawer"></div>
        <div id="bottom_child_drawer">
            <div id ="vertical_menu" class="ui vertical menu">
                <div class="item">
                    <div class="header">Profile</div>
                    <div class="menu">
                        <a class="item">Enterprise</a>
                        <a class="item">Consumer</a>
                        <a class="item">Supplier</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">System</div>
                    <div class="menu">
                        <a class="item">Enterprise</a>
                        <a class="item">Consumer</a>
                        <a class="item">Supplier</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Products</div>
                    <div class="menu">
                        <a class="item">Enterprise</a>
                        <a class="item">Consumer</a>
                        <a class="item">Supplier</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>