<footer id="classic_footer">
    <div id="footer_top_content">
        <div id="footer_content_one">
        </div>
        <div id="footer_content_two">
        </div>
        <div id="footer_content_three">
        </div>
        <div id="footer_content_four">
        </div>
    </div>
    <div id="footer_bottom_content">
        <a style="text-decoration:none" href="https://designwebkit.com/wp-content/uploads/2017/09/Evolution.jpg"><h2 id="example_link">Example Footer</h2></a>
    </div>
</footer>